
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;1,400&family=Montserrat:ital,wght@0,100;0,500;1,500&family=Work+Sans:ital,wght@1,200&display=swap');

*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{

    #background-video{

        width: 100%;
        height: 100%;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        

    }
}

.logo{

    width: 150px;
    

}


a,button {
    font-family: Montserrat,serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px white, 0 0 20px firebrick ;

}

header{

    display: flex;
    justify-content:flex;
    align-items: center;
    padding: 30px 5%;
    border: gray solid 5px;
    margin: 10px;
    background-color: #242424;
    height: 50px;

}




.logo{
    margin-right:auto;
    cursor: pointer;
    height: 50px;
    border-radius: 50px;
    border: firebrick solid 2px;
    padding: 8px;
}

.nav_links{
    
    list-style: none;
    margin-right: 50px;
}

.nav_links li{

    display: inline-block;
    padding: 10px ;
    
    
}

.nav_links li a{
    transition: all 0.5s ease 0s;
}

.nav_links li a:hover{
    color: firebrick;
}

button{
    padding: 9px 25px;
    background-color: firebrick;
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition: all 0.4s ease 0s;
}

button:hover{

    background-color: rgba(169, 34, 0, 0.7);
}

mid{
    display: flex;
    background-color:;  
    justify-content:flex;
    align-items: center;
    padding: 30px 5%;
    border: ;
    margin: 10px;
    justify-content: space-between;
    flex-wrap: wrap
    
}

.page-description{
    
    
    background-color: ;
    font-family: Montserrat,serif;
    font-weight: 500;
    flex-basis: 20rem;
    height: 200px;
    display: block;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px firebrick ;
    
}
.page-description h1{

    margin-bottom: 20px;
}
.random_button{
    text-align: center;
    margin: 10px;
    
}

.page-description_image img{
    
    width: 150px;
    height: 150px; 
    border-radius: 50px;
    cursor:crosshair;
}



.container{
    display: flex;
    background-color: ; 
    color: black;
    justify-content:flex;
    align-items: center;
    padding: 30px 5%;
    border: ;
    margin: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

.Random_info{
    
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-family: Montserrat,serif;
    font-size: large;
    font-weight:bold;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px firebrick ;
     
    
    
}





.fimages img{

    width: 100px;
    height: 100px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

.fimages :hover{

    transform: translateY(10px);
    border: firebrick solid 5px;
}

.container2{
    display: block;
    border: ;
    background-color: ;
    margin: 10px;
    padding: 30px 5%;
}

.Random_Quote{   
    font-size: 50px;
    font-style: italic;
    font-family: Montserrat,serif;
    color: white;
    text-shadow: 0 0 10px white, 0 0 20px firebrick ;
}

.Random_Quote #wdwf{

    text-align: start;
}
.Random_Quote #pobu{
    text-align: center;
}
.Random_Quote #tw{

    text-align: end;
}


